# Security string for backend
JWT_SECRET=secret-key

# DB security
POSTGRES_DB=db-name
POSTGRES_USER=db-user
POSTGRES_PASSWORD=db-password

# PG admin
PGADMIN_DEFAULT_EMAIL=admin-email
PGADMIN_DEFAULT_PASSWORD=admin-password

# Grafana
GF_SECURITY_ADMIN_USER=gf-user
GF_SECURITY_ADMIN_PASSWORD=gf-password